[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "chronicle"]
	path = chronicle
	url = https://github.com/pheymanss/chronicle
	shallow = true
	registered = true
